html,
body {
  height: 100%;
  background-color: #fff;
} /*main colour use*/
body {
  color: #58595B;
  text-align: center;
 
} /*for fonts, colours, setup*/



.masthead-clearfix{
    position: absolute;
} /*stops the nav bar from moving when you scroll*/



  .navpad{
      padding-top: 8px;
      left: 200px;
  }



  .pull , li {
      display: inline-block;
      vertical-align: top;
    float: right;
    margin-right: 700px;
    bottom: 5%;
   
  }

/*footer css*/

.copyright{ 
   position: absolute;
   left: 47%;
   
   color: #333;
}/*for copyright text in footer*/
#social{ 
    float: left;
    margin-left: 800px;
    bottom: 10%;
}/*for social media links*/
 #further{
  float: left;
   
 } /*positions header title h3*/
 #furtherLayer{
     display: inline-block;
     right: 10%;
 } /*positions header links*/
 further ul, li, p{
     text-decoration: none;
      list-style-type: none;
      margin: 0;
     padding: 0;
 } /*for header links decor*/
   .pull-right {
  
    color: #337ab7;
}/*for back to top link button*/


/*contact form styles*/
.contactFields{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    width:400px;
}
.contactVal{
    color:red;
}
.messageField{
    height:300px;
    width:400px;
    font-family:Arial, Helvetica, sans-serif;
    color:black;
}
#nameLabel{
    text-align:left;
    padding-top:10px;
}
#emailLabel{
    text-align:left;
    padding-top:10px;
}
#reLabel{
    text-align:left;
    padding-top:10px;
}
#messageLabel{
    text-align:left;
    padding-top:10px;
}
#contactForm{
    width:400px;
    margin-left:auto;
    margin-right:auto;
}

/*admin register styles*/

#register{
    width:400px;
    margin-right:auto;
    margin-left:auto;
}
.registerFields{
    font-family:Arial, Arial, Helvetica, sans-serif;
    color:black;
    width:400px;
}
.registerVal{
    color:red;
}
.registerLabels{
    text-align:left;
    padding-top:5px;
}


/*admin styles*/
#loginForm{
    width:400px;
    margin-left:auto;
    margin-right:auto;
}
.loginText{
    font-family:Arial, Heletica, sans-serif;
    width:400px;
    color:black;
}
.loginVal{
    color:red;
}
.loginLabel{
    text-align:left;
    padding-top:10px;
    padding-bottom:5px;
}


/*TEST CAROUSEL*/
.first-slide{
    top: 0;
  right: 0;
  left: 0;
  z-index: 20;

}




/* TEST CSSS BELOW*/



/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  padding-top: 5%;


 /* background-color: #fff;        CHANGE FOR  CENTER SHADOW
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}


.cover-container {
  margin-right: auto;
  margin-left: auto;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  /*border-bottom: 2px solid transparent;*/
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
/*color: #6C9B3B:;
  border-bottom-color: #6C9B3B:;*/  
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}





/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
display: table;

    
 width: 100%;
    height: 50px /* WAS 250PX MAY NEED TO CHANGE*/;
   
background-color: #fff; 
border-color: #080808;
border-top: #333 solid 1px;

/*CHANGE FOR FOOTER BACKGROUND SOLID COLOUR
   

*/
   /*   -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
  
    
}

.footer{
    position:absolute;
   bottom:0;

}

.footLinks{
margin-bottom: 4px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {

    position: fixed;
    bottom: 0;

    bottom: 20px;
	right: 0px;
 

     
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
 
  .cover-container {
    width: 700px;
  }
}



/* Padding for spacing */
.inner {
  padding: 30px;
  border-bottom: 5px;
  bottom: 5px;
 
}





/*
 * Globals
 */

/* Links */


 #footer li > a{
color: #337ab7;
padding-right: 3%;
}





.further > a,
.further > a:focus,
.further > a:hover {
    color: #6C9B3B;





 
} /*links font colour setup - mainly for footer* color: #fff;/





/*home styles*/

/*images*/

#homeImages{
    display:inline-block;
    width:728px;
    left:50%;
    margin-top:40px;
   
}

.homeImage{
    margin-right:20px;
    margin-left:20px;
}
.homePara{
    margin-right:auto;
    margin-left:auto;
    padding-top:20px;
}
