.throntonImage{
   float: left;
   margin-left: 550px;      
} /*for logo image*/
 
.footer{
    
}

.copyright{
   margin-left: 50%;
   margin-right: 50%;
   display: inline-block;
   width: 100px;
}


#social{
    float: left;
    margin-left: 550px;
    margin-top: 50px;
}



/*contact form styles*/

.contactFields{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    width:400px;
}
.contactVal{
    color:red;
}

.messageField{
    height:300px;
    width:400px;
    font-family:Arial, Helvetica, sans-serif;
    color:black;
}

.contactLabels{
    padding-right:360px;
    
}

